deepspeed
einops
h5py
huggingface_hub
numpy
open_flamingo
openai
opencv_python
opencv_python_headless
packaging
Pillow
PyYAML
PyYAML
qwen-vl-utils
Requests
scikit_learn
scipy
sentence-transformers
tensorboard
timm
torch>=2.0
torchinfo
torchvision
tqdm
transformers
typing_extensions
vllm
xformers
yacs
