accelerate==0.21.0
av==11.0.0
diffusers==0.24.0
einops==0.4.1
matplotlib==3.10.1
mediapipe
mlflow==2.9.2
numpy==2.2.3
omegaconf==2.2.3
onnxruntime_gpu==1.16.3
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
Pillow==11.1.0
Pillow==9.5.0
safetensors==0.5.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
transformers==4.30.2
xformers==0.0.22
